# Exercise 3. - GroupBy

### Introduction:

GroupBy can be summarized as Split-Apply-Combine.

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

Check out this [Diagram](http://i.imgur.com/yjNkiwL.png)  

Check out [Alcohol Consumption Exercises Video Tutorial](https://youtu.be/az67CMdmS6s) to watch a data scientist go through the exercises


### Step 1. Import the necessary libraries

In [3]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv).

In [4]:
url="https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv"

### Step 3. Assign it to a variable called drinks.

In [5]:

drinks = pd.read_csv(url, sep=',')

### Step 4. Which continent drinks more beer on average?

In [8]:
average_beer_consumption = drinks.groupby('continent')['beer_servings'].mean()
most_beer_drinking_continent = average_beer_consumption.idxmax()
highest_average = average_beer_consumption.max()
print(f"The continent that drinks the most beer on average is {most_beer_drinking_continent} with an average of {highest_average:.2f} liters.")

The continent that drinks the most beer on average is EU with an average of 193.78 liters.

### Step 5. For each continent print the statistics for wine consumption.

In [26]:
drinks['continent'] = drinks['continent'].fillna('NA')

average_wine_consumption = drinks.groupby('continent')['wine_servings'].mean()

print(drinks.continent.unique())
print('africas average wine consumption is:', average_wine_consumption['AF'])
print('asias average wine consumption is:', average_wine_consumption['AS'])   
print('europe average wine consumption is:', average_wine_consumption['EU'])
print('oceania average wine consumption is:', average_wine_consumption['OC'])
print('south americas average wine consumption is:', average_wine_consumption['SA'])
print('north americas average wine consumption is:', average_wine_consumption['NA'])

['AS' 'EU' 'AF' 'NA' 'SA' 'OC']
africas average wine consumption is: 16.264150943396228
asias average wine consumption is: 9.068181818181818
europe average wine consumption is: 142.22222222222223
oceania average wine consumption is: 35.625
south americas average wine consumption is: 62.416666666666664
north americas average wine consumption is: 24.52173913043478

### Step 6. Print the mean alcohol consumption per continent for every column

In [ ]:

mean_alcohol_consumption = drinks.groupby('continent')['total_litres_of_pure_alcohol'].mean()
print(mean_alcohol_consumption)

continent
AF    3.007547
AS    2.170455
EU    8.617778
NA    5.995652
OC    3.381250
SA    6.308333
Name: total_litres_of_pure_alcohol, dtype: float64

### Step 7. Print the median alcohol consumption per continent for every column

In [ ]:

median_alcohol_consumption = drinks.groupby('continent')['total_litres_of_pure_alcohol'].median()

print(median_alcohol_consumption)

continent
AF     2.30
AS     1.20
EU    10.00
NA     6.30
OC     1.75
SA     6.85
Name: total_litres_of_pure_alcohol, dtype: float64

### Step 8. Print the mean, min and max values for spirit consumption.
#### This time output a DataFrame

In [ ]:
spirit_stats = drinks.groupby('continent')['spirit_servings'].agg(['mean', 'min', 'max'])

print(spirit_stats)

                 mean  min  max
continent
AF          16.339623    0  152
AS          60.840909    0  326
EU         132.555556    0  373
NA         165.739130   68  438
OC          58.437500    0  254
SA         114.750000   25  302